@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;

}

body {
    background-color: #dff5ff6d;
}

.parent-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-bottom: 20px;
}

.heading h2 {
    margin: 100px 0px 10px 0px;
    letter-spacing: 2px;
    font-size: 35px;
    font-weight: bolder;
}

.review-card {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 400px;
    width: 700px;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

}

hr {
    width: 60px;
    height: 3px;
    background-color: rgb(9, 176, 241);
    border-color: rgb(9, 176, 241);
    margin-top: 0;
    margin-bottom: 50px;
}

.profile-img img {
    margin-top: 20px;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 6px -6px 0px 0px rgba(15, 138, 214, 0.732);

}

.comment {
    margin: 20px 0px;
    display: flex;
    /* color: rgb(33, 149, 192); */
    text-align: center;

    margin: 20px 30px;
}

.profil-name {
    margin: 20px 0px 2px 0px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
}

.desigination {
    color: rgb(9, 176, 241);
}

.btn {
    margin-bottom: 5px;
}

.btn .prev-btn {
    margin: 5PX;
    cursor: pointer;
}

.prev-btn:hover {
    border: 2px solid rgb(9, 176, 241);
    border-radius: 3px;
}

.prev-btn:active {
    background-color: rgb(9, 176, 241);
    color: aliceblue;

}


.btn .next-btn {
    margin: 5PX;
    cursor: pointer;
}

.next-btn:hover {
    border: 2px solid rgb(9, 176, 241);
    border-radius: 3px;
}